#####################################################
## Created by James O'Brien                        ##
## Date Created 28/12/18                           ##
## Configuration settings for RPi Hkvision Viewer  ##
#####################################################

##Set autorun; 1=on, 0=off | used by hik.sh script cron job from running.
AUTORUN=1

## Set display to ouput video to; 4=touchscreen; 5=HDMI; 6=Auto.
DIS=5

## Set display  width
WIDTH=1920
HEIGHT=1080

## Set base strings:
BASENAME="RTSP string"

## Set Presets: {PRESETn=STREAMS:n[4,8,9,16]|[BASE]:[CameraNmber]|[BASE]:[CameraNumber]|...}
##  Set name of preset then number of streams, then outline each camera.
***

##Set preset names for web server buttons:
PRENAMES="Pre1|Pre2|Pre3|Pre4|Pre5|Pre6|Pre7|Pre8"

##Preset to display; set this to control which preset will be displayed; used by cronjob script to ensure stream$
DISPAYPRESET=4

##Audio presets
#Example: AUDIOn="[BASE]:[CameraNumber]"
***

#Set names for webserver buttons for audio:
AUDIONAMES="Audio 1|Audio 2|"

## Audio preset:
AUDIOPRESET=0
